<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<div class="container";>
    <h1>turnip</h1>
    <form method="POST" action = "/">
    <div class="input-group mb-3 mt-3" style="width: 100%;">
        <input id="message" name = "message" type="text" class="form-control" placeholder="Enter a message" aria-label="message-input" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary primary-submit-url" type="submit" value="submit">post</button>
        </div>
        </div>
    </form>
    <div id="messages-container">
    </div>
</div>

<script>
function renderMessage(message) {
  var usernameElement = document.createElement("span");
  usernameElement.className = "h5";
  usernameElement.style = `background-color: #${message.color}; color: white; border-radius: 3px; padding: 5px;`;
  usernameElement.textContent = message.username;
  var timestampElement = document.createElement("small");
  timestampElement.className = "message-text text-muted";
  timestampElement.textContent = message.timestamp;
  var usernameColumn = document.createElement("div");
  usernameColumn.className = "username col-3";
  usernameColumn.append(
    usernameElement,
    document.createElement("br"),
    timestampElement
  );
  var messageTextColumn = document.createElement("div");
  messageTextColumn.className = "message-text col-9";
  messageTextColumn.textContent = message.text;
  var messageElement = document.createElement("div");
  messageElement.className = "row mb-4";
  messageElement.append(
    usernameColumn,
    messageTextColumn,
    document.createElement("hr")
  );
  return messageElement;
}
function loadMessages() {
  var xmlhttp = new XMLHttpRequest();
  xmlhttp.open("GET", "messages");
  xmlhttp.send();
  var messagesContainer = document.getElementById("messages-container");
  xmlhttp.onreadystatechange = function (e) {
    var jsonResponse = JSON.parse(xmlhttp.responseText);
    messagesContainer.textContent = "";
    for (message of jsonResponse) {
      messagesContainer.append(renderMessage(message));
    }
  };
  // Continue reloading every 5s
  setTimeout(loadMessages, 5000);
}

window.onload = loadMessages();
</script>